ul,li{ list-style: none; }
.top { height: 80px; background: #516f89 }
.top-l { padding-top: 60px; }
.top-r { padding-top: 50px; }
.loginBox { width: 400px; margin: 50px auto; }
#code { font-family: Arial, 宋体; font-style: italic; color: green; border: 1px solid #eee; background: #e2e2e2; padding: 2px 3px; letter-spacing: 3px; font-weight: bolder; }
.bottom{ height: 120px; background: #516f89; }
.login{ position: relative; }
.login .bottom{ position: fixed; bottom:0; width:100%;}
.nav{ color：#333; background:#e2e2e2; border-bottom: 1px solid #eee; padding:10px 0; }
.loginInfo{ float: right; margin-bottom: 0;}
.loginInfo li{ float:left; margin-right: 25px;}
.loginInfo li i{ color:#999; margin-right: 5px; }
.loginInfo li a{ color:#333; }
.menuList{ width:500px; margin:30px auto; }
.menuList .col-lg-6{ padding:10px; }
.menuList .col-lg-6 a{ width:100%; padding:10px 0; display: block; }
h3.title{ font-size: 18px; font-weight: normal; text-align: center; margin:15px 0; }
h3.title a.backHome{ float: right; font-size: 14px; }
h3.title a.backHome i.fa{ margin-right: 5px; font-size: 16px; }
.form-label{ padding: 0; line-height: 34px; text-align: right;}
.to{ text-align: center; }
.account label{ font-weight: normal; }
.table{ border-top: 3px solid #516f89; }
.table th{ background: #eee; }
.btns ul{ float: right; }
.btns ul li{ float: left; margin-left: 15px;}
.btns ul li a{}
.btns ul li a i{ margin-right: 5px; }
.pagination{ float: right; margin-top: 0; }
.red{ color:red; }
.form-group { margin-bottom: 5px;}
.checkBox{ height: 34px; line-height: 34px; }
.checkBox input[type=checkbox]{ vertical-align: middle; margin:0;}
.box{ border:1px solid #ddd; margin:0 -10px; margin-bottom: 15px;}
.box h5{ text-align: center; background: #e2e2e2; border:1px solid #fff; margin:0; height: 40px; line-height: 40px; margin-bottom: 10px;}
.box .row{ padding:2px 25px 5px 0; }
.pdl0{ padding-left: 0; }
.mgt15{ margin-top: 15px; }
.checkBoxs .checkBox{ background: #eee; }
.addBtns{ width:120px; margin:20px auto;}
.steps li{ float:left; }
.steps li a{ width:80px; height: 80px; line-height: 80px; text-decoration:none; text-align: center; display: inline-block; background: #eee; border-radius:40px; }
.steps li i{ color:#ccc; font-size: 30px; font-weight: 600; margin:0 15px; }
.steps li.active a,.steps li:hover a{ background: #516f89; color:#fff; }
.btn3{ width:212px; }
.panel-group{ margin:15px -15px 20px -10px;}
.panel-default>.panel-heading{background:#516f89; padding:0; height: 34px;}
.panel-title{ width:100%; height: 100%; }
.panel-title>a{ width:100%; height: 100%; display: block; text-decoration: none; color:#fff; line-height: 34px; padding:0 15px;}
.panel-body{ padding:10px; }
.panel-body ul{ margin:0; padding:0; }
.panel-default,.panel-default>.panel-heading { border-color: #516f89;}
.right{ position: relative; }
.toggle{ position: absolute; left:5px; top:15px; font-size: 18px; }
.w100{ width:100%; }
.pages{ float:right; margin-bottom: 20px;}
.pages ul{ margin:0; padding:0;}
.pages ul li{ float:left; height:24px; line-height:24px;}
.pages ul li.go{ padding:0 15px; }
.pages ul li input{ height: 24px; vertical-align: middle;}
.pages ul li input.btn{ padding: 0 15px;}
.pages ul li a{ display:block; border:1px solid #ddd; line-height:24px; padding:0 10px;color:#438BCA;}
.pages ul li a:hover{ background:#4B6A86; color:#fff;}
.pages ul li a.last{ color:#ccc;}
.pages ul li a.last:hover{ color:#ccc; background:none;}
.operationBtns{ margin-bottom: 20px; }
.gotoPage{ float: right; margin-right: 15px; }
.gotoPage label{ font-weight: normal; line-height: 34px;}
.gotoPage label.info{ margin-right: 15px; }
.gotoPage .num{ width:50px; height: 34px; border:1px solid #ccc;}
.modal label{ padding-right: 0; }
.table td a{ margin:0 10px; }
#table tbody tr td { border:0px; }

.session_txt{ margin:0; padding:0; padding-top:155px; font-size:36px; color:#f7b667; text-align:center;}
.session_txt a{ color:#0087ce; text-decoration:underline;}

#commoncontainer{ margin:0 auto; background:#fff;}
#commontop{ height:90px; background:#52708a; padding-top:25px; position:relative;}
.commonlogobox{ position:absolute; right:100px;}
.commonlogo_tittle{ height:30px; background:url(../images/logo_tittle.png) no-repeat;}
.commonlogo{ width:120px; height:50px; margin-top:-10px; background:url(../images/logo.png) no-repeat;}
.commoncontent{ position:relative;}